body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

p {
    margin: 0;
    padding: 0;
}

.header, .sub-header, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 150px;
    padding-right: 150px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    gap: 20px   ;
}

a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}

.sub-header {
    display: flex;
    justify-content: space-between;
    padding: 80px 150px;
    gap: 90px;
    flex: auto;
}

.sub-header-text {
    display: flex;
    flex-direction: column;
    flex-basis: 410px;
    gap: 10px;
}

.main-title {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
}

.image img {
    display: flex;
    width: 350px;
}

.main-title, .subtext, .footer {
    color: #F9FAF8;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    border-width: 2px;
    margin: 0;
    width: 100px;
    height: 30px;
    text-align: center;  
    border-style: none;
}

.cards-title {
    font-weight: 900;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-top: 20px;
}

.cards-place {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-basis: 140px;
    flex-wrap: wrap;
    margin: 20px;

}

.cards img {
    display: flex;
    width: 140px;
    height: 140px;
    border-radius: 15px;
    border: 3px solid #3882f6;
    box-shadow: 2px 3px 5px grey;
}

.cards p {
    text-align: center;
    margin-top: 5px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 300px;
    gap: 10px;
    }

.actual-quote {
    display: flex;
    font-size: 30px;
    font-style: italic;
    text-align: start;
    }

.quote-signature {
    font-weight: 900;
    text-align: end;
}

.call-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    margin: 50px 150px;
    padding: 40px 100px;
}

.call-time {
    display: flex;
    flex-direction: column;
}

/* .call-banner .sign-up-button {
    display: flex;
    align-self: center;
} */

.call-banner button {
    border-color:white;
    border-style:solid;
}

strong {
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px;
}